<!DOCTYPE html>
<html>
<head>
  <title>Lab Equipment Booking - Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="login-form">
    <h1 style="text-align:center;">Lab Equipment Booking</h1>
    <form onsubmit="return loginUser();">
      <input type="text" id="username" placeholder="Username" required autocomplete="off">
      <input type="password" id="password" placeholder="Password" required autocomplete="off">
      <button type="submit">Login</button>
    </form>
  </div>
  <script src="/static/book.js"></script>
</body>
</html>
